.homepage-heading{
    color:blue;
    font-family: sans-serif;
}

.top-text{
    color: red;
    background-color: yellow;
    font-weight: 800;
    font-family: sans-serif;
}

.butter-chicken-heading{
    color:orangered;
}

.spaghetti-bolognese-heading{
    color:brown;
}

.lasagna-heading{
    color:rgb(153, 153, 4);
}

